.shoppingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shoppingGallery {
  width: 100%;
  height: 100%;
}

.shoppingGallery > ul {
  width: 100%;
  height: 100%;
  padding: var(--mtv-padding-m);
  gap: var(--mtv-gap-m);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.totalPurchaseDiv {
  display: flex;
  gap: var(--mtv-gap-m);
  justify-content: flex-end;
  margin-right: 80px;
  font-weight: bolder;
}

.purchaseBtn {
  font-weight: bolder;
  font-size: var(--mtv-fontsize-h5);
  cursor: pointer;
}

.purchaseBtn:hover {
  transform: scale(1.05);
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: var(--mtv-fontsize-h2);
}
