.copyright {
    /* display: none; */
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  
  .copyrightContent {
    background-color: var(--mtv-bg-primary);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    border-radius: var(--mtv-bradius);
    gap: var(--mtv-gap-m);
  }
  
  .copyrightContent > button {
    padding: 0;
    margin: 0;
    left: 95%;
    cursor: pointer;
  }

  .sections {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--mtv-gap-m);
    margin: var(--mtv-margin-m);
  }

  .sections > img {
    width: 30%;
    height: auto;
    border-radius: var(--mtv-bradius);
  }

  .videoHomeTexts {
    display: flex;
    flex-direction: column;
  }
  
  .sections:nth-child(3) {
    flex-direction: row-reverse;
  }